@model IEnumerable<TeamCalendarApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div id="mainBody" class="container">
    <h2>User Management</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsManager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSiteManager)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsManager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSiteManager)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-primary">Edit</a> &nbsp; &nbsp;
                        <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>